site_name: "Farris Family Recipe Book"
theme:
  name: "material"
# custom_dir: "custom_theme/"
# Logo
  icon:
    logo: fontawesome/solid/spoon
  favicon: img/spoon-solid.svg
# Features
  features:
    - navigation.tabs
    - navigation.top
    - navigation.path
    - navigation.indexes
    - search.suggest
    - search.highlight
    - content.footnote.tooltips
  palette:
    # Palette toggle for automatic mode
    - media: "(prefers-color-scheme)"
      toggle:
        icon: material/brightness-auto
        name: Switch to light mode

    # Palette toggle for light mode
    - media: "(prefers-color-scheme: light)"
      scheme: default 
      primary: deep orange
      accent: blue
      toggle:
        icon: material/brightness-7
        name: Switch to dark mode

    # Palette toggle for dark mode
    - media: "(prefers-color-scheme: dark)"
      scheme: slate
      primary: red
      accent: indigo
      toggle:
        icon: material/brightness-4
        name: Switch to system preference


# Extentions
markdown_extensions:
  - footnotes
  - attr_list
  - pymdownx.emoji:
      emoji_index: !!python/name:material.extensions.emoji.twemoji
      emoji_generator: !!python/name:material.extensions.emoji.to_svg

# Plug-ins
plugins:
  - meta:
      enabled: true
  - search
  - tags:
      enabled: true
      tags: true
      tags_slugify: !!python/object/apply:pymdownx.slugs.slugify
        kwds:
          case: lower

nav:
  - Home:
      - index.md
  - Recipes: recipes/index.md
  - Cooking Tips: tips.md
  - About: about.md
